.headers {
    margin:0;
    padding:0;
    text-align: center;
}
.title_1 {
    text-decoration: underline ;
    text-align: center;
}
.boxed {
    border:1px solid green;
    height: 13em;
    width: 14em;
}
.red_box {
    background-color: red;
    border:5px solid black;
}
.blue_box {
    background-color: blue;
    border:5px dashed yellow;
}
.green_box {
    background-color: lawngreen;
    border:5px solid olivedrab;
}
body{
    margin-left: 350px;
    margin-right: 350px;
}
h6{
    text-align: center;
    margin: 20px;
}
h4{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin: 35px;
}
.boxes div{
    height: 200px;
    margin: 0 30px;
}
.red{
    border: 2px solid black;
    background-color: red;
}
.blue{
    border: 2px dotted yellow;
    background-color: blue;
}
.green{
    border: 2px solid purple;
    background-color: green;
}
.changeB{
    color: blue;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}
.hideB{
    color: blue;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}
.changeBut div{
background: grey;
text-align: center;
padding: 6px;
margin: 0 10px;
justify-content: center;
}